html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body,
#app {
  height: 100%;
}
html {
  font-size: 16pt;
}
body {
  font-family: 'Noto Sans', sans-serif;
  background: #16161d;
}
#app {
  position: relative;
  overflow: hidden;
}
#app .now {
  position: absolute;
  top: 50%;
  left: 2rem;
  margin-top: -0.5rem;
  color: #f90;
  font-size: 1.4rem;
  font-weight: bold;
}
#app .now:before,
#app .now:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  border-top: 2px solid #f90;
}
#app .now:before {
  right: 105%;
  width: 2rem;
}
#app .now:after {
  left: 105%;
  width: 1000%;
}
#app .history {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -0.5rem;
}
#app .history .event {
  position: absolute;
  left: 16rem;
  width: 30rem;
  padding: 0.2rem 0.4rem;
  border: 0.3rem solid #f90;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  line-height: 1.4rem;
  color: #16161d;
  background: #fff;
}
#app .history .event .time,
#app .history .event .title,
#app .history .event .authors {
  margin-bottom: 0.5rem;
}
#app .history .event .time {
  font-size: 1.2rem;
  font-weight: bold;
}
#app .history .event .star-level {
  float: right;
}
#app .history .event .star-level a {
  text-decoration: none;
}
#app .history .event .star-level .stars {
  color: #ffd700;
}
