@import 'nib'

global-reset()

html, body, #app
  height 100%

#app
  position relative
  font-family: 'Noto Sans T Chinese'
  .history
    position absolute
    top 50%
    margin-top -1rem
    .event
      position absolute
