@import 'nib'

global-reset()

eigengrau = #16161d
orange    = #f90

html, body, #app
  height 100%
html
  font-size 14pt
body
  font-family 'Noto Sans', sans-serif
  background eigengrau

#app
  position relative
  overflow hidden
  .now
    position absolute
    left 2rem
    color orange
    font-size 1.4rem
    font-weight bold
    &:before, &:after
      content ''
      position absolute
      top  50%
      margin-top -1px
      border-top 2px solid orange
    &:before
      right 105%
      width 2rem
    &:after
      left 105%
      width 1000%
  .history
    position absolute
    margin-top -1.5rem
    width 100%
    .event
      position absolute
      left 16rem
      width 20rem
      padding 0.2rem 0.4rem
      border 0.3rem solid orange
      border-radius 0.5rem
      line-height 1.4rem
      color eigengrau
      background white
      .time, .title, .authors
        margin-bottom 0.5rem
      .time
        font-size 1.4rem
        font-weight bold
      .star-level
        float right
        a
          text-decoration none
        .stars
          color #ffd700
